.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

#ipad-screen {
	width: 1340px;
}

#main-ipad-content {
	width: 1024px;
	height: 768px;
}

